body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #262626; }

.hr_navline {
  margin: 0; }

a {
  text-decoration: none;
  color: #262626; }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.c-header {
  text-align: center; }
  .c-header h4 {
    padding-top: 10px;
    margin: 0; }
    .c-header h4 a {
      font-size: 20px;
      text-decoration: none;
      color: #262626;
      letter-spacing: 3px; }

@media screen and (max-width: 1020px) {
  .c-header {
    display: none; } }
.c-nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2em;
  margin: 0 auto;
  padding: 0; }
  .c-nav__logo {
    display: none; }
  .c-nav__links {
    display: flex;
    justify-content: space-around;
    list-style: none; }
    .c-nav__links a {
      padding: 2em;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      color: #262626; }
      .c-nav__links a:hover {
        color: #e84c3d; }
  .c-nav__burger {
    display: none; }

@media screen and (max-width: 1020px) {
  .c-nav__logo {
    display: block;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px; }
    .c-nav__logo h4 a {
      text-decoration: none;
      color: #262626; }
      .c-nav__logo h4 a:hover {
        color: #e84c3d; }
  .c-nav__links {
    position: absolute;
    right: 0px;
    height: 20em;
    top: 4em;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.2s ease; }
    .c-nav__links li {
      opacity: 0; }
  .c-nav__burger {
    display: block !important;
    cursor: pointer; }
  .c-nav__burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.2s ease-in; }
  .c-nav--active {
    transform: translateX(0%); }
  .c-nav .toggle__burger-top {
    transform: rotate(-45deg) translate(-6.5px, 6px); }
  .c-nav .toggle__burger-middle {
    opacity: 0; }
  .c-nav .toggle__burger-bottom {
    transform: rotate(45deg) translate(-6.5px, -6px); } }
.c-promotion {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(13, 6vw);
  grid-gap: 2%;
  margin-top: 1.5em;
  overflow: hidden; }
  .c-promotion__item {
    background-size: cover; }
  .c-promotion__item1 {
    background-image: url("images/amy-shamblen-662202-unsplash.jpg");
    background-position: center center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8; }
  .c-promotion__item2 {
    background-color: #9ab4b3;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8; }
    .c-promotion__item2_inset {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 25%;
      margin: 0 auto;
      color: #fff;
      text-align: center; }
      .c-promotion__item2_inset-head {
        padding: 0;
        margin: 0;
        font-size: 8px;
        font-style: italic; }
      .c-promotion__item2_inset-main {
        padding: .4em;
        margin: 0;
        letter-spacing: 5px;
        font-size: calc(1em + 1.5vw);
        font-weight: 300; }
      .c-promotion__item2_inset-line {
        padding: 0;
        margin: 0 auto;
        width: 10%; }
  .c-promotion__item3 {
    background-image: url("images/thomas-ae-602202-unsplash.jpg");
    background-position-y: 15%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 12; }
  .c-promotion__item4 {
    background-image: url("images/beatriz-perez-moya-191993-unsplash.jpg");
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 12; }
  .c-promotion__item5 {
    background-image: url("images/tom-the-photographer-651516-unsplash.jpg");
    background-position-y: 5%;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 12; }

.c-favourites__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black; }
  .c-favourites__head--title {
    padding: 0;
    margin: 0;
    font-size: 10px;
    border: 1px solid black; }
  .c-favourites__head--info {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    color: #cacaca;
    border: 1px solid black; }
.c-favourites__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%; }
  .c-favourites__main_item {
    display: grid;
    grid-template-rows: repeat(5, 6vw); }
    .c-favourites__main_item--image {
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      grid-row-start: 1;
      grid-row-end: 5; }
    .c-favourites__main_item--image1 {
      background-image: url("images/monika-grabkowska-664428-unsplash.jpg"); }
    .c-favourites__main_item--image2 {
      background-image: url("images/monika-grabkowska-664428-unsplash.jpg"); }
    .c-favourites__main_item--image3 {
      background-image: url("images/monika-grabkowska-664428-unsplash.jpg"); }
    .c-favourites__main_item--image4 {
      background-image: url("images/monika-grabkowska-664428-unsplash.jpg"); }
    .c-favourites__main_item__inset {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-row-start: 5;
      grid-row-end: 6; }
      .c-favourites__main_item__inset--title {
        font-size: 14px;
        padding: .8em;
        margin: 0;
        text-transform: uppercase; }
      .c-favourites__main_item__inset--price {
        font-size: 10px;
        color: #99bcdf;
        padding: 0;
        margin: 0; }
        .c-favourites__main_item__inset--price-sale {
          text-decoration: line-through;
          color: #cacaca; }

.c-footer {
  height: 4em; }
  .c-footer__head {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }
    .c-footer__head--links {
      padding: .5em 1em;
      list-style: none;
      text-decoration: none;
      font-size: 14px; }

.c-container {
  width: 90%;
  margin: 0 auto; }

.o-nav__hero img {
  width: 25px;
  height: 25px; }

@media screen and (max-width: 1020px) {
  .o-nav__hero img {
    display: none; } }
