.c-favourites {

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;

    &--title {
      padding-bottom: .5em;
      margin: 0;
      font-size: 2.5vw;
    }
    &--info {
      padding: 0;
      margin: 0;
      font-size: 2vw;
      font-style: italic;
      font-family: 'Playfair Display', serif;
      color: $lightfont;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;

    &_item {
      display: grid;
      grid-template-rows: repeat(11, 6vw);
      transform:translate(0,0);
      
      &--image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        grid-row-start: 1;
        grid-row-end: 10;
      }

      &--image1 {
        background-image: url("images/monika-grabkowska-664428-unsplash.jpg");
        position: relative;
        overflow: auto;
        transform:translate(0,0);

        &-sale {
          background-color: black;
          border-radius: 50%;
          position: fixed;
          top: -6px;
          right: 42%;
          color: #fff;
          text-align: center;
          
          p {
            padding: .8em .5em;
            margin: 0;
            font-style: italic;
            font-size: 1.5vw;
          }
        }
      }
      &--image2 {
        background-image: url("images/tanalee-youngblood-344759-unsplash.jpg");
      }
      &--image3 {
        background-image: url("images/alexandra-gorn-328026-unsplash.jpg");
      }
      &--image4 {
        background-image: url("images/christie-kim-769380-unsplash.jpg");
      }

      &__inset {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-start: 10;
        grid-row-end: 12;

        &--title {
          font-size: 2.7vw;
          padding: .8em;
          margin: 0;
          text-transform: uppercase;
        }
  
        &--price {
          font-size: 2.5vw;
          color: $salefont;
          padding: 0;
          margin: 0;
          
          &-sale {
            text-decoration: line-through;
            color: $lightfont;
            padding: 0 .5em 0 0;
          }
        }
      } 
    }
  }
}

@media screen and (min-width: $tablet-break){

  .c-favourites {

    &__head {
      padding: 1em;
  
      &--title {
        padding-bottom: .5em;
        font-size: 1.8vw;
      }
      &--info {
        padding: 0;
        margin: 0;
        font-size: 1.5vw;
      }
    }
  
    &__main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
     
      &_item {
        grid-template-rows: repeat(5, 6vw);
        
        &--image {
          grid-row-start: 1;
          grid-row-end: 5;
        }
  
        &__inset {
          grid-row-start: 5;
          grid-row-end: 6;
  
          &--title {
            font-size: 1.3vw;
            padding: .8em;
            margin: 0;
          }
    
          &--price {
            font-size: 1.3vw;
          }
        } 
      }
    }
  }
}
